
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: Arial, sans-serif;
    background-color: black;
    position: relative;
}


.button-link {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    position: absolute;
    top: 15%;
    transition: background-color 0.5s;

    display: inline-flex; /* Faz o texto e a imagem ficarem alinhados */
    align-items: center;
}


.left-button {
    left: 20px;
}


.right-button {
    right: 20px;
}


.button-link:hover {
    background-color: dimgray;
}

#content {
    width: calc(100% - 100px); 
    height: calc(100% - 100px); 
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    overflow: hidden;

}

#center-content {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Garante que o conteúdo dentro fique bem distribuído */
    width: 100%;
}

#text-about {  
    padding: 50px;
    text-align: justify;
    text-justify: inter-word;
}

#text-about h2{  
   margin-bottom: 30px;

   font-family: "Archivo Black", sans-serif;
   font-size: 40px;
   font-style: normal;
}

#center-content img {
    max-width: 40%; /* Ajuste conforme a largura desejada */
    height: auto; /* Mantém a proporção da imagem */

    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */

    /* filter: grayscale(100%); */
}


