button{
    width: 100px;
    height: 100px;
    line-height: 100px;
    background-color: white;
    font-size: 100px;
    border-left: 0;
    border-top: 0;
    vertical-align: top;
}

#botao02, #botao12, #botao22{
    border-right: 0;
}

#botao20, #botao21, #botao22{
    border-bottom: 0;
}

button:disabled{
    color: black;
    border-color: black;
}