<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/style.css">
    <title>Bufalino Doido</title>
</head>

<body>
    <a class="button-link left-button" href="/tartaruga_page.html" alt="Left arrow">Anterior</a>
    <div id="content">
        <div id="center-content">
            <div id="text-about">
                <h2>Bufalo</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat omnis earum accusamus numquam,
                    illo, consequuntur sit nulla expedita officiis eos veniam laboriosam mollitia, dignissimos
                    voluptatibus minima sint. Aliquid, doloribus iste?</p>
            </div>
            <img src="/IMG/img_bufalo.jpg" alt="Imagem de Bufalo">
        </div>
    </div>
    <a class="button-link right-button" href="/esquilo_page.html" alt="right-arrow">Próximo</a>
</body>

</html>